<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Список задач: Нова задача</title>
</head>
<body>
  <h1>Создание новой задачи</h1>
  <form method="POST" action="/create_task">
    {{ form.hidden_tag() }}
    <p>
        {{ form.name.label }}<br>
        {{ form.name(size=32) }}
    </p>
    <p>
        {{ form.description.label }}<br>
        {{ form.description(rows=4, cols=40) }}
    </p>
    <p>
        {{ form.full_text.label }}<br>
        {{ form.full_text(rows=40, cols=400) }}
    </p>
    <p>
        {{ form.is_important.label }} {{ form.is_important() }}
    </p>
    <p>
        {{ form.status.label }} {{ form.status() }}
    </p>
    <p><button type="submit">{{ form.submit() }}</button></p>
  </form>

  <form action="/" method="get">
    <button type="submit">Повернутися назад</button>
  </form>
</body>
</html>
