<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Список завдань</title>
</head>
<body>
  <h1>Список завдань</h1>
  <ul>
    {% if tasks %}
      {% for task in tasks %}
      <li>
        <div>
          <h3>Id - {{ task[0] }}</h3>
          <h2>Name - {{ task[1] }}</h2>
          <p>Description - {{ task[2] }}</p>
          <form action="/delete_task/{{ task[0] }}" method="POST">
            {{ form.csrf_token }}
            <button type="submit">Delete</button>
          </form>
        </div>
      </li>
      {% endfor %}
    {% else %}
      <li>Поки що у вас немає завдань</li>
    {% endif %}
  </ul>

  <form action="/create_task" method="get">
    <button type="submit">Create new task</button>
  </form>
  <form action="/" method="get">
    <button type="submit">Return back</button>
  </form>
</body>
</html>